<?xml version="1.0"?>
<!--
/**
 * Magecurious_AbandonedCarteMail
 * @package   Magecurious\AbandonedCarteMail
 * @author    Magecurious <support@magecurious.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <abandonedcartemail>
            <general>
                <enable>0</enable>
                <email_template>abandonedcartemail_general_email_template</email_template>
            </general>
        </abandonedcartemail>
    </default>
</config>
