<?xml version="1.0"?>

<!--
/**
 * Magecurious_Juspay
 * @package   Magecurious\Juspay
 * @author    Magecurious <mailto:support@magecurious.com>
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Controller\Onepage\Success">
        <plugin name="magecurious_onepage_success_plugin" type="Magecurious\Juspay\Plugin\Checkout\Controller\Onepage\Success" sortOrder="1"/>
    </type>
    <type name="Magento\Framework\Data\Form\FormKey\Validator">
        <plugin name="magecurious_formkey_validator_plugin" type="Magecurious\Juspay\Plugin\Magento\Framework\Data\Form\FormKey\ValidatorPlugin" sortOrder="1"/>
    </type>
</config>
