<?xml version="1.0"?>
<!--
/**
 * Magecurious_AbandonedCarteMail
 * @package   Magecurious\AbandonedCarteMail
 * @author    Magecurious <support@magecurious.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magecurious_ProductAdvancedSearch::productadvancedsearch_config" title="Product Advanced Search" sortOrder="51">
                    <resource id="Magecurious_ProductAdvancedSearch::post" title="Posts" sortOrder="10"/>
                    <resource id="Magecurious_ProductAdvancedSearch::productadvancedsearch_configuration" title="Configuration" sortOrder="99" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>