<?xml version="1.0"?>
<!--
/**
 * Magecurious_AbandonedCarteMail
 * @package   Magecurious\AbandonedCarteMail
 * @author    Magecurious <support@magecurious.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Reports\Block\Adminhtml\Shopcart\Abandoned\Grid" type="Magecurious\AbandonedCarteMail\Block\Adminhtml\Shopcart\Abandoned\Grid" />
</config>
