<?xml version="1.0"?>
<!--
/**
 * Magecurious_AbandonedCarteMail
 * @package   Magecurious\AbandonedCarteMail
 * @author    Magecurious <support@magecurious.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="abandonedcartemail" frontName="abandonedcartemail">
            <module name="Magecurious_AbandonedCarteMail" before="Magento_Backend"/>
        </route>
    </router>
</config>
